logging.level = FINER

hostname = localhost

http.port = 8000
http.contextPath = /virtualrover
http.gameFilesDir = ../../gcc/html/war
http.insecureDomain = http://localhost:8000

https.port = 8001
https.contextPath = /virtualrover
https.secureDomain = https://localhost:8001

udp.port = 7454

server.gameAssets = ../../gcc/android

server.log = logs/server%g.log
server.log.limit = 1048576
server.log.count = 5
server.log.level = FINER

access.log = logs/access%g.log
access.log.limit = 1048576
access.log.count = 10
access.log.level = INFO

game.log = logs/game%g.log
game.log.limit = 1048576
game.log.count = 5
game.log.level = FINE

security.log = logs/security%g.log
security.log.limit = 1048576
security.log.count = 5
security.log.level = FINE

registration.file = test-registration.data
registration.url = https://localhost:8001/virtualrover/register
registration.confirmURL = https://localhost:8001/virtualrover/register/confirm
registration.mail.log = logs/mail%g.log
registration.mail.log.limit = 1048576
registration.mail.log.count = 5
registration.mail.log.level = FINE
registration.mail.alert = alert@themvsus.net
registration.mail.from = donotreply@themvsus.net
registration.mail.subject = Register at Them vs Us
registration.mail.template = Please follow link below to finish registration: \n\n{link}
registration.mail.failed.dir = mail/failed
registration.mail.retry.dir = mail/retry
registration.mail.retry = 30
